*pyc
out_old
\#*\#
public_html/
synth_out*
out_synth
oprofile_data
*pdf
*aux
*bbl
*blg
*blend1
*blend2
paper/#hands.lyx#
*.log
*png
data
in
.*
!.gitignore
*.kdev
CMake*
*~
Makefile
cmake*
deformable_depth
bg
test
train
hands_up_test
hands_up_train
cache
*opensdf
*suo
debug
demo.avi
dd_*
out
local.cmake
core*
*.filters
*.user
stdafx.cpp
intelCap/ipch
intelCap/x64/
Forth3DBenchmark/x64/
NiTE2_Benchmark/Release/
face_cascade.xml
outs/
aout
paper/hands.aux
paper/hands.bbl
paper/hands.blg
paper/hands.brf
models/dhf15.yml
paper/hands_eccv.brf
paper/hands_eccv.txt
!CMakeLists.txt
!local.cmake
scripts
skin_hist.yml
